<table>
  <tr>
    <td><img src="assets/images/banner.jpg" class="image2">
    </td>
  </tr>
  <tr>
    <td align="center">
      <br>
      <h1><span>SITTINGBOURNE ORPHEUS CHORAL SOCIETY</span></h1>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table style="width: 100%">
        <tr>
          <td class="image">
            <img src="assets/images/chairman/chairman.jpg" class="image2">
          </td>
          <td class="text">
            <h3>Chairman</h3>
            <p>Welcome to our new web site, we hope that you find the improvements beneficial and more informative on the choir’s activities.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table style="width: 100%">
        <tr>
          <td class="text">
            <p>This year I have decided to relinquish my position as chairman after 6 years of service. I have taken this decision through personal reasons but will still be active within the choir, coordinating the Shelter and New York trips.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <table style="width: 100%">
      <tr>
        <td class="text">
          <p>
            Since the New year SOCS has had several requests to join other choirs:
          </p>
          <ul>
            <li>To participate in a UK National event for “Shelter” by singing a specially written piece of music and Video recording it in April 2019, posting it on UTube and hopefully joining a National Choir to record it ready for Christmas 2019.</li>
            <li>To Join a Multinational choir in the Carnegie Hall Manhattan New York USA in January 2020, to perform in the 80th Birthday Calibration of the works “The Armed Man” by Karl Jenkins. 23 Members and 8 Guests are attending this prestigious event.</li>
            <li>To participate in a Choral Festival in Vienna Austria, we are looking into the possibility of attending in July 2021 or July 2022.</li>
          </ul>
        </td>
      </tr>
    </table>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <table style="width: 100%">
      <tr>
        <td class="text">
          <p>I am still concerned about membership numbers and if anyone is interested or know of any singers please get in touch and give us a try. We are a non audition entry and meet Tuesday nights at Highsted School (during term time) from 19:45 to 21:45. If it has been music choices that have deterred you in the past, from joining, we are experimenting with different styles of music and with a new MD this should increase our variety and expand our repertoire of works performed.</p>
        </td>
      </tr>
    </table>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <table style="width: 100%">
      <tr>
        <td class="text">
          <p>We are still using smaller venues in Sittingbourne as our membership and audience numbers cannot support large events, unless we join with other choirs. I do hope that this does not spoil your concert experience.</p>
          <p>As audience members who attend our concerts regularly any feedback that you have would be appreciated.</p>
          <p>If you would like to make a comment, or join us at a concert or fund-raising event, please contact us via email on <a class="a2" href="mailto:socs.webmail@gmail.com">socs.webmail@gmail.com</a></p>
        </td>
      </tr>
    </table>
  </tr>
</table>