<table>
  <tr>
    <td><img src="assets/images/banner.jpg" class="image2">
    </td>
  </tr>
  <tr>
    <td align="center">
      <br>
      <h1><span>SITTINGBOURNE ORPHEUS CHORAL SOCIETY</span></h1>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="image">
            <img src="assets/images/chairman/chairman.jpg" class="image2">
          </td>
          <td class="text">
            <h3>Chairman</h3>
            <p>Welcome to our new web site, we hope that you find the improvements beneficial and more informative on the choir’s activities.</p>
            <p>With our Music Director leaving at Christmas 2017 we have been actively searching for a replacement. The appointment subcommittee reviewed the applicants in December, just before Christmas and shortlisted down to 5 potential candidates. They interviewed in January and gave auditions to 3 Candidates. The choir members voted overwhelmingly for one candidate George Salmon who takes his position as Musical Director on 24th April 2018.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="image">
          </td>
          <td class="text">
            <p>Due to commitments and lead times the April Concert will be directed by Derek Boyne and Michael Burleigh. We will be joined by Elliot Park School for part of the concert. I would like to thank both of these for their support and assistance.</p>
            <p>George will take charge of the July Supper Concert, supported by Michael on the piano. Derek had started to pull a programme together for this event and is in the process of handing over to George. Once again thank you Derek for this piece of work.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <table>
      <tr>
        <td class="image">
        </td>
        <td class="text">
          <p>For the past 4 Years I have been planning for Armistice 2018 with joint choirs from across Swale. This is progressing well and to date we have 250+ voices from across SWALE joining us in the Concert to remember 100 years since the Armistice signing. We are covering music from 1900 to 1930 giving an atmosphere of what people experienced Prior, During and Post War Years musically, not forgetting a memorial section for all that were injured or lost their lives during 1914 to 1918. Derek is also involved in this production and will work closely with the new MD to deliver a memorable evening, leaving a legacy for the borough commemorating this one off event in time.</p>
        </td>
      </tr>
    </table>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <table>
      <tr>
        <td class="image">
        </td>
        <td class="text">
          <p>I am still concerned about membership numbers and if anyone is interested or know of any singers please get in touch and give us a try. We are a non audition entry and meet Tuesday nights at Highsted School (during term time) from 19:45 to 21:45. If it has been music choices that have deterred you in the past, from joining, we are experimenting with different styles of music and with a new MD this should increase our variety and expand our repertoire of works performed.</p>
        </td>
      </tr>
    </table>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <table>
      <tr>
        <td class="image">
        </td>
        <td class="text">
          <p>We are still using smaller venues in Sittingbourne as our membership and audience numbers cannot support large events, unless we join with other choirs. I do hope that this does not spoil your concert experience. Due to our MD issue we have decided to make this year have a different feel and have gone for lighter musical selections. Your feedback would be interesting?</p>
          <p>If you would like to make a comment, or join us at a concert or fund-raising event, please contact us via email on <a class="a2" href="mailto:socs.webmail@gmail.com">socs.webmail@gmail.com</a></p>
        </td>
      </tr>
    </table>
  </tr>
</table>