<table>
  <tr>
    <td><img src="assets/images/banner.jpg" class="image2">
    </td>
  </tr>
  <tr>
    <td align="center">
      <br>
      <h1><span>Concerts</span></h1>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="concertSpacer">
            <p></p>
          </td>
          <td class="imageConcert">
            <img src="assets/images/concerts/LestWeForgetA5FinalPoster.jpg" class="image2">
          </td>
          <td class="concertSpacer">
            <p></p>
          </td>
        </tr>
        <tr>
          <td class="concertSpacer">
            <p></p>
          </td>
          <td class="imageConcert">
            <p>Join us on Saturday 10th of November at 7:30pm for an evening to remember the historical event 100 years ago when World War 1 ceased. We are remembering this event through music from the period 1900 to 1930. Tickets are now on sale for this concert:</p>
            <p>Sittingbourne - Historical Research Group the Forum open Tue - Sat 10:00am to 4:00pm</p>
            <p>The Isle of Sheppey - 'Criterian' Bluetown Heritage Centre open Tue - Sat 10:00am to 3:00pm</p>
            <p>Faversham - Carters Newsagents Market Street open Mon - Sat 6:00am to 5:00pm and Sun 8:00am to 12:00pm (12 noon)</p>
          </td>
          <td class="concertSpacer">
            <p></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
</table>