<table>
  <tr>
    <td><img src="assets/images/banner.jpg" class="image2">
    </td>
  </tr>
  <tr>
    <td align="center">
      <br>
      <h1><span>Concerts</span></h1>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="concertSpacer">
            <p></p>
          </td>
          <td class="imageConcert">
            <img src="assets/images/concerts/2019Nov.jpg" class="image2">
          </td>
          <td class="concertSpacer">
            <p></p>
          </td>
        </tr>
        <tr>
          <td class="concertSpacer">
            <p></p>
          </td>
          <td class="imageConcert">
            <p>9th Nov Autumn Concert  “Winter Warmer” a collection of music from Classics to popular at  Highsted Grammar School</p>
            <p>14th Dec Christmas Concert “Christmas mix” traditional Carols at Highsted Grammar School</p>
            <p>28th March Spring Concert  “ St John Passion” Fulston Manor School</p>
            <p>11th July Summer Concert Programme TBA Highsted Grammar School</p>
          </td>
          <td class="concertSpacer">
            <p></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
</table>