<table>
  <tr>
    <td>
      <img src="assets/images/banner.jpg" class="image2">
    </td>
  </tr>
  <tr>
    <td align="center">
      <br>
      <h1>
        <span>Music Director</span>
      </h1>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="image">
            <img src="assets/images/music-dir/aDSC_0235.jpg" class="image2">
          </td>
          <td class="text">
            <h3>George Salmon</h3>
            <p>I am looking forward to working on a range of different music with the Sittingbourne Orpheus Coral Society. When
              I construct a programme I like to include a varied repertoire, ranging from choral society staples to lesser
              known works by the great masters, as well as lighter material – always with an eye to the specific challenges
              each piece raises, how these will improve the choir and, above all, what people will enjoy singing and hearing!</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="image">
          </td>
          <td class="text">
            <p>My work spans a number of genres from choral and operatic conducting to brass banding and playing in string quartets.
              I have worked on opera projects with the Amade Players and Goldsmiths Opera Chorus, as well as numerous appearances
              with various orchestras in and around London.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="image">
            <img src="assets/images/music-dir/aDSC_0179.jpg" class="image2">
          </td>
          <td class="text">
            <p>I have had the privilege of studying with some of the most acclaimed conducting tutors in the world, including
              Peter Stark, Colin Metters and Jorma Panula, I also hold a Masters Degree in conducting from the University
              of Surrey. I am an accomplished singer, having studied with Alison Wells – Professor of Singing at the Royal
              College of Music and Trinity Laban Conservatoire.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
</table>