<div style="display: grid; grid-template-columns: 200px 1fr 200px; grid-template-rows: 1fr; width: 100%;">
  <div>
    <div style="display: grid; grid-template-columns: 1fr; grid-template-rows: 200px repeat(7, 60px); position: fixed;">
      <div>
        <img src="assets/images/logo2.png" class="image2">
      </div>
      <div routerLink="/welcome" id="menuWelcome" class="menu" onmouseover="functions.hoverMenu(this.id)" onmouseleave="functions.unHoverMenu(this.id)">
        <a>Welcome</a>
      </div>
      <div routerLink="/concerts" id="menuConcerts" class="menu" onmouseover="functions.hoverMenu(this.id)" onmouseleave="functions.unHoverMenu(this.id)">
        <a>Concerts</a>
      </div>
      <div routerLink="/chairman" id="menuChairman" class="menu" onmouseover="functions.hoverMenu(this.id)" onmouseleave="functions.unHoverMenu(this.id)">
        <a>Chairman</a>
      </div>
      <div routerLink="/musicdir" id="menuMusicDir" class="menu" onmouseover="functions.hoverMenu(this.id)" onmouseleave="functions.unHoverMenu(this.id)">
        <a>Musical Director</a>
      </div>
      <div routerLink="/members" id="menuMembers" class="menu" onmouseover="functions.hoverMenu(this.id)" onmouseleave="functions.unHoverMenu(this.id)">
        <a>Members</a>
      </div>
      <div routerLink="/musicLib" id="menuMusicLib" class="menu" onmouseover="functions.hoverMenu(this.id)" onmouseleave="functions.unHoverMenu(this.id)">
        <a>Music Library</a>
      </div>
      <div routerLink="/archive" id="archive" class="menu" onmouseover="functions.hoverMenu(this.id)" onmouseleave="functions.unHoverMenu(this.id)">
        <a>Archive</a>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div>
    <div style="position: fixed;">
      <div style="width: 100px; margin: auto;">
        <br>
        <a href="https://www.facebook.com/Sittingbourne.Orpheus/"><img src="assets/images/facebook.png" class="image1"></a>
        <br>
      </div>
      <div style="width: 100px; margin: auto;">
        <a href="https://twitter.com/sittingbournech"><img src="assets/images/twitter.png" class="image1"></a>
        <br>
      </div>
      <div style="width: 100px; margin: auto;">
        <!--<img src="assets/images/email.png" class="image1" href="mailto:socs.webmail@gmail.com">-->
        <img src="assets/images/email.png" style="cursor: pointer;" class="image1" (click)="modalActive()">
        <br>
      </div>
      <div style="width: 100px; margin: auto;">
        <p>Our next concert:</p>
        <a routerLink="/concerts"><img src="assets/images/concerts/2019Nov.jpg" class="image4"></a>
      </div>
    </div>
  </div>
</div>
<div class="modalEmail" id="emailUs">
  <form (submit)="sendEmail(message)" class="modalEmailContent">
    <div>
      <div class="emailFormHeader">
        <label style="margin-top: 5px;"><b>Email us:</b></label>
        <span onclick="document.getElementById('emailUs').style.display='none'" class="close" title="Close"><b>&times;</b></span>
      </div>
      <div class="emailContainer">
        <label for="name"><b>Subject</b></label>
        <input type="text" placeholder="Email subject" name="name" [(ngModel)]="message.subject" required>
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="John Smith" name="name" [(ngModel)]="message.name" required>
        <label for="emailAdd"><b>Email address</b></label>
        <input type="text" placeholder="someone@email.co.uk" name="email" [(ngModel)]="message.email">
        <label for="comment"><b>Comment</b></label>
        <br>
        <textarea placeholder="Enter message here..." name="message" style="width: 100%;" rows="12"[(ngModel)]="message.message" required></textarea>
        <input type="submit" value="Send" onclick="document.getElementById('emailUs').style.display='none'">
      </div>
    </div>
  </form>
</div>