<table>
  <tr>
    <td><img src="assets/images/banner.jpg" class="image2">
    </td>
  </tr>
  <tr>
    <td align="center">
      <br>
      <h1><span>SITTINGBOURNE ORPHEUS CHORAL SOCIETY</span></h1>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <img src="assets/images/welcome/ChoirWithOrchestra.JPG" class="image2">
          </td>
          <td class="text">
            <h3>Welcome to our website</h3>
            <p>Welcome to our new web site, we hope that you find the improvements beneficial and more informative on the choir’s activities.</p>
            <p>I have to apologies for this site being down for several weeks. This was beyond our control as our old host folded but did not release our domain name for a period – hence we could not open the new host until that happened.</p>
            <p>Our new MD, George has proved very popular with the choir members and audience, his July Supper concert was well received.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="image">
            <img src="assets/images/welcome/IMG_3659.JPG" class="image2">
          </td>
          <td class="text">
            <p>As you are aware I have been planning the Armistice concert for the past 4 Years, with joint choirs from across Swale. This performance is almost upon us and first rehearsals have taken place with the joint choirs. We are expecting there to be around 120 singers from across SWALE to join us, giving a total of around 200 voices in the Concert, to remember 100 years since the Armistice signing. We are covering music from 1900 to 1930 giving an atmosphere of what people experienced Prior, During and Post War Years musically, not forgetting a memorial section for all that were injured or lost their lives during 1914 to 1918. Derek Boyne and George are working together, to deliver a memorable evening, leaving a legacy for the borough commemorating this one off event in time.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="image">
            <img src="assets/images/welcome/ChoirTheCreation2016.JPG" class="image2">
          </td>
          <td class="text">
            <p>I am still concerned about membership numbers and if anyone is interested or know of any singers please get in touch and give us a try. We are a non audition entry and meet Tuesday nights at Highsted School (during term time) from 19:45 to 21:45. If it has been music choices that have deterred you in the past, from joining, we are experimenting with different styles of music and with a new MD this should increase our variety and expand our repertoire of works performed.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="image">
            <img src="assets/images/welcome/img1.jpg" class="image2">
          </td>
          <td class="text">
            <p>We are still using smaller venues in Sittingbourne as our membership and audience numbers cannot support large events, unless we join with other choirs. I do hope that this does not spoil your concert experience.</p>
            <p>George is busy planning our “Christmas Allsorts” concert, along with a more classical concert in April using popular pieces from Handle and a celebration concert in July celebrating 75 years of SOCS formation.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="image">
            <img src="assets/images/welcome/IMG_3690.JPG" class="image2">
          </td>
          <td class="text">
            <p>As audience members who attend our concerts regularly any feedback that you have is appreciated.</p>
            <p>If you would like to make a comment, or join us at a concert or fund-raising event, please contact us via email on <a class="a2" href="mailto:socs.webmail@gmail.com">socs.webmail@gmail.com</a></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
