<!-- <table>
  <tr>
    <td><img src="assets/images/banner.jpg" class="image2">
    </td>
  </tr>
  <tr>
    <td align="center">
      <br>
      <h1><span>SITTINGBOURNE ORPHEUS CHORAL SOCIETY</span></h1>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table style="width: 100%;">
        <tr>
          <td>
            <h3>Welcome to our website</h3>
            <p>This site is under review and being updated.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table style="width: 100%;">
        <tr>
          <td>
            <p>As audience members who attend our concerts regularly any feedback that you have is appreciated.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table style="width: 100%;">
        <tr>
          <td>
            <p>If you would like to make a comment, or join us at a concert or fund-raising event, please contact us via email on <a class="a2" href="mailto:socs.webmail@gmail.com">socs.webmail@gmail.com</a></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td style="width: 500px;">
      <p-carousel headerText="Cars" [value]="test" circular="circular" numVisible="1" [ngStyle]="{'width' : '500px'}">
        <ng-template let-article pTemplate="item" style="width: 500px;">
          {{article}}
        </ng-template>
      </p-carousel>
    </td>
  </tr>
</table> -->
<div style="width: 100%;">
  <img src="assets/images/banner.jpg" class="image2">
  <br>
  <h1 style="text-align:center !important;"><span>SITTINGBOURNE ORPHEUS CHORAL SOCIETY</span></h1>
  <h3>Welcome to our website</h3>
  <p>This site is under review and being updated.</p>
  <p>As audience members who attend our concerts regularly any feedback that you have is appreciated.</p>
  <p>If you would like to make a comment, or join us at a concert or fund-raising event, please contact us via email on <a class="a2" href="mailto:socs.webmail@gmail.com">socs.webmail@gmail.com</a></p>
  <p-carousel headerText="Cars" [value]="test" circular="circular" numVisible="1">
      <ng-template let-article pTemplate="item">
        {{article}}
      </ng-template>
    </p-carousel>
</div>
