<table>
  <tr>
    <td><img src="assets/images/banner.jpg" class="image2">
    </td>
  </tr>
  <tr>
    <td align="center">
      <br>
      <h1><span>SITTINGBOURNE ORPHEUS CHORAL SOCIETY</span></h1>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <img src="assets/images/welcome/ChoirWithOrchestra.JPG" class="image2">
          </td>
          <td class="text">
            <h3>Welcome to our website</h3>
            <p>We are a Choral Society located in Sittingbourne, Kent, England, with around 90 active members. We meet weekly on Tuesday evenings to rehearse in preparation for our three major concerts each year. Our repertoire ranges from classical through to more contemporary styles. We formed in 1945 and the history page gives information on most of our performances since then.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="image">
            <img src="assets/images/welcome/IMG_3659.JPG" class="image2">
          </td>
          <td class="text">
            <p>All of our income is derived from members' subscriptions, ticket sales and fund raising activities. Our members are active in the local community, singing at various events throughout the year, such as charity carol singing and weddings.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td class="image">
            <img src="assets/images/welcome/img1.jpg" class="image2">
          </td>
          <td class="text">
            <p>We welcome new members, without audition, and will be pleased to hear from anyone interested in joining (see our Chairman's Message for more information). Our subscription is £100 a year - only about £3 a week!  This can be paid annually or in quarterly instalments and there are reduced rates for seniors (£70) and juniors (£60).</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
