<table>
    <tr>
      <td><img src="assets/images/banner.jpg" class="image2">
      </td>
    </tr>
    <tr>
      <td align="center">
        <br>
        <h1><span>MUSIC HIRE LIBRARY</span></h1>
      </td>
    </tr>
    <tr class="spacer">
      <td></td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <img src="assets/images/archive/IMG_3645.JPG" class="image2">
            </td>
            <td class="text">
              <h3>Archive Gallery</h3>
              <p>SOCS has a long history going back to 1945. On the page you will find programmes and posters giving you a demonstration of the choirs  performances over its past years of existence.</p>
              <p>There are also some press cuttings and reports from within some of  these periods.</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="spacer">
      <td></td>
    </tr>
    <tr>
        <td>
            <table style="width: 100%">
                <tr>
                    <td class="btnArch"><p-button label="40s" (click)="go40()"></p-button></td>
                    <td class="btnArch"><p-button label="50s" (click)="go50()"></p-button></td>
                    <td class="btnArch"><p-button label="60s" (click)="go60()"></p-button></td>
                    <td class="btnArch"><p-button label="70s" (click)="go70()"></p-button></td>
                </tr>
                <tr>
                    <td class="btnArch"><p-button label="80s" (click)="go80()"></p-button></td>
                    <td class="btnArch"><p-button label="90s" (click)="go90()"></p-button></td>
                    <td class="btnArch"><p-button label="00s" (click)="go00()"></p-button></td>
                    <td class="btnArch"><p-button label="10s" (click)="go10()"></p-button></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
      <td>
        <!--<p-galleria [images]="images" [showCaption]="false" frameWidth="120" frameHeight="80" [autoPlay]="false" styleClass="test"></p-galleria>
        -->
        <gallery></gallery>
        </td>
    </tr>
  </table>
