<table>
  <tr>
    <td><img src="assets/images/banner.jpg" class="image2">
    </td>
  </tr>
  <tr>
    <td align="center">
      <br>
      <h1><span>Members</span></h1>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <p>Welcome to the members page, the following are the members of our society and their roles:</p>
      <br>
      <p>Committee:</p>
      <p>Brian Jemmett - Chairman</p>
      <p>Jemma Silvester - Secretary</p>
      <p>Patrick Keast - Treasurer / Programme / Tickets</p>
      <p>Amanda Boyne - Vice Chairman / Ticket Sales / Child Protection / Hall Bookings / Refreshments</p>
      <p>Linda Rouse - Concert Manager</p>
      <p>Simon Rouse - Assistant Concert Manager</p>
      <p>Heather Medlock - Friends of SOCS / Refreshments / Music Hire</p>
      <p>Val Warn - Library</p>
      <p>Vanessa Talbot - Publicity</p>
      <p>Nicola Apps - Social Media</p>
      <br>
      <p>Non Committee:</p>
      <p>Liz Walters - Membership Secretary</p>
      <p>Gill Rapley - Orchestra Fixer</p>
      <br>
      <p>Section Representatives:</p>
      <p>Alto:</p>
      <p>Mary Bone</p>
      <p>Jane Hadler</p>
      <p>Georgina Pocock</p>
      <p>Val Warn</p>
      <br>
      <p>Soprano:</p>
      <p>Marion Dormer</p>
      <p>Rachel Knox-Johnson</p>
      <p>Sue Rossiter</p>
      <p>Liz Walters</p>
      <br>
      <p>Tenor:</p>
      <p>Rob Seaman</p>
      <br>
      <p>Bass:</p>
      <p>John Sharman</p>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <p>Below is the schedule for our society, including choir practice evenings and our concerts:</p>
    </td>
  </tr>
  <tr class="spacer">
    <td></td>
  </tr>
  <tr>
    <td>
      <p-schedule [events]="events"></p-schedule>
    </td>
  </tr>
</table>